<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_test?useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>

    <!-- 要告诉hibernate接下来连接那个数据,主要是告知连接的方言  -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- 上面的5个配置，可以说是hibernate的最低配置 -->
    <!-- 显示sql，并且将sql进行格式化-->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <!--
        create：程序运行时，如果表不存在，自动建表，存在do nothing
        update：如果表不存在，建表，存在则检查表和类的结构是否一致，如果不一致，则更新表结构
        validate：如果表结构和类不一致（表中没有相应的字段，则报错，表中有冗余字段不报错）
     -->
    <property name="hibernate.hbm2ddl.auto">update</property>
      <!-- DB schema will be updated if needed -->

      <!-- 读取资源文件 -->
      <mapping class="com.cxn.entity.TbCustomerEntity"/>

    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>